h1{
    color: rgb(21, 92, 125);
}
h2{
    color: rgb(21, 92, 125);
}

.jspsych-btn:hover {
    background-color: rgb(127, 191, 221); /* Light background on hover */
    color: #2a2a2b; /* Change text color on hover */
    border-color: #66696d; /* Change border color on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow effect */
}
.jspsych-content {
    padding: 10px;
}

p{
    text-align: left;
}
.jspsych-btn.jspsych-btn{
    display: block;
    text-align: center;
    margin: 0 auto;
}
form{
    padding: 20px;
}
img.emoji{
    display: block;
    text-align: center;
    margin: 0 auto;
}
