body, html {
    max-width: 100%;
    overflow-x: hidden; /* Prevents horizontal scrolling */
    background-color: #F6F9F5; /* Light sage mist */
}
h1, h2, h3, p.jspsych-survey-multi-choice-text, p#note {
    color: #3e5f4e; /* deep moss green */
}
p#note {
    font-weight: bold;
}
.jspsych-btn {
    background-color: white;
    border: 2px solid #3e5f4e;
    color: #3e5f4e;
    transition: all 0.3s ease;
}

.jspsych-btn:hover {
    background-color: #A8C3A0; /* fern green */
    color: #2D2D2D;
    border-color: #748072; /* olive gray */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.jspsych-content {
    padding: 10px;
}

p{
    text-align: left;
}
.jspsych-btn.jspsych-btn{
    display: block;
    text-align: center;
    margin: 0 auto;
}
form{
    padding: 20px;
}
img.emoji{
    display: block;
    text-align: center;
    margin: 0 auto;
}
p.jspsych-survey-multi-choice-text{
    color: #3e5f4e;
}

p#thanks{
    text-align: center;
}

div#demog_q{
    text-align: left;
}   
video{
    text-align: center;
}